html {
    /* 1rem = 10px */
    font-size: 62.5%;
    box-sizing: border-box;
  }

  *, *:before, :after {
    box-sizing: inherit;
}

  body {
    font-size: 1.6rem;
}  

a {
  text-decoration: none;
}

/* font-family: 'Big Shoulders Display', cursive;

font-family: 'Lexend Deca', sans-serif; */

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.align {
  margin-top: 3.7rem;
}

.btn {
  background-color: white;
  padding: 1.5rem 4rem;
  border-radius: 5rem;
  font-family: 'Lexend Deca', sans-serif;
}

.btn:hover {
  background-color: transparent;
  border: 2px solid hsl(0, 0%, 95%);
  color: white;
}

@media (min-width: 1080px) {
    .card-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

}

.card p {
  font-family: 'Lexend Deca', sans-serif;
  padding-bottom: 10rem;
  line-height: 2;
}

.card h3 {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 4rem;
}

.card {
  color: white;
  background-color:hsl(31, 77%, 52%);
  padding: 5rem 8rem;
}


.card:nth-child(1) {
  border-radius: 1rem 1rem 0 0;
}

.card:nth-child(2) {
  background-color:hsl(184, 100%, 22%);
}

.card:nth-child(3) {
  background-color:hsl(179, 100%, 13%);
  border-radius: 0 0 1rem 1rem;

}

.btn{
  color: hsl(31, 77%, 52%);
}

.btn-2 {
  color: hsl(184, 100%, 22%) ;
}

.btn-3 {
  color:hsl(179, 100%, 13%)
}

@media (min-width: 1080px) {
  .card:nth-child(1) {
    border-radius: 1rem 0 0 1rem;
  }

  .card:nth-child(3) {
    border-radius: 0 1rem  1rem 0;
  }
}
